<h2>New Adjustment for <%= @adjustment.sensor.name %></h2>

<% form_for([@cook, @adjustment]) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
    <%= link_to "Cancel", cook_path(@cook) %>
  </p>
<% end %>
