<h2>Editing Sensor</h2>

<% form_for(@sensor) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %>
    <%= link_to "Cancel", sensors_path %>
  </p>
<% end %>
