<h2>New Sensor</h2>

<% form_for(@sensor) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
    <%= link_to "Cancel", sensors_path %>
  </p>
<% end %>
