.alert {
	padding: 10px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
  /*
  position: fixed;
	right: 0px;
	margin-right: 20px;
	margin-top: 5px;
	*/
}

#notice {
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  background-color: lightgreen;
}

#warning {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  background-color: pink;
}

#message {
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  background-color: lightyellow;
}

.flotr-legend{
	border: 2px solid #B6D9FF;
}