<h2>Listing Cooks</h2>

<p><%= link_to image_tag("add.png") + ' Add New Cook', new_cook_path %></p>

<% @cooks.each do |cook| -%>
  <p>
    <%= link_to cook.name, cook %><br/>
    <%= format_datetime(cook.start_time) %>
    <%= truncate(cook.description) %>
  </p>
<% end -%>
