<h2>New cook</h2>

<% form_for(@cook) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
    <%= link_to 'Cancel', cooks_path %>
  </p>
<% end %>


