<h3><%= options[:type] %></h3>

<div style="background-color:#fff;padding-top:5px">
  <div id="<%= options[:container_name] %>_<%= options[:type] %>_graph" style="width:280px;height:250px;"></div>
</div>

<%= javascript_tag ("
  // function draw_#{options[:container_name]}_#{options[:type]}_graph() {
    #{options[:data_set_js]}

    var f = Flotr.draw(
      $('#{options[:container_name]}_#{options[:type]}_graph'),
      [#{options[:data_set_names].join(", ")}],
      { 
        yaxis:  { autoscaleMargin: 3 },
        lines:  { show: true },
        points: { show: false, radius: 3, fill: true, fillColor: '#FFFFFF' },
        xaxis:  { tickFormatter: hmsTickFormatter },
        legend: { position: 'nw', backgroundColor: '#D2E8FF' },
        mouse:  { track: true, position: 'se', color: '#000000', margin: 5, sensibility: 10, radius: 2, trackDecimals: 0, trackFormatter: hmsTrackFormatter }
      }
    );
  // }
  
  // setTimeout('draw_#{options[:container_name]}_#{options[:type]}_graph()', 500);
") %>

