<h2>About</h2>

<p>
  Remotely control a <%= link_to "Rock's Bar-B-Que Stoker", "http://www.rocksbarbque.com/" %>.
</p>

<h3>Download</h3>

<%= link_to "http://github.com/tbuser/stoker/tree/master", "http://github.com/tbuser/stoker/tree/master" %>

<h3>Comments and Questions</h3>

<p>
  Tony Buser <<%= mail_to "tbuser@gmail.com", "tbuser@gmail.com" %><br/>
  Copyright (c) 2008, <%= link_to "http://unconundrum.com", "http://unconundrum.com" %>
</p>


