<h3>Blowers</h3>

<ul>
<% @stoker.blowers.each do |b| -%>
  <li><%= link_to b.name, b %></li>
<% end -%>
</ul>

<h3>Sensors</h3>

<ul>
<% @stoker.sensors.each do |s| -%>
  <li><%= link_to s.name, s %></li>
<% end -%>
</ul>
