<h2>Editing stoker</h2>

<% form_for(@stoker) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %> | <%= link_to "Cancel", stokers_path %>
  </p>
<% end %>
