<h2>Listing Stokers</h2>

<p><%= link_to image_tag("add.png") + ' Add New Stoker', new_stoker_path %></p>

<% for stoker in @stokers %>
  <p>
    <%= link_to stoker.name, stoker %> (<span style="<%= stoker.status == "Running" ? "color:green" : "color:red" %>"><%= stoker.status %></span>)
  </p>
<% end %>

