<h2>New Stoker</h2>

<% form_for(@stoker) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
    <%= link_to 'Cancel', stokers_path %>
  </p>
<% end %>

