<%= error_messages_for :blower %>

<p>
  <b>Serial number</b><br />
  <%= f.text_field :serial_number %>
</p>

<p>
  <b>Name</b><br />
  <%= f.text_field :name %>
</p>

<p>
  <b>Stoker</b><br />
  <%= f.text_field :stoker_id %>
</p>
