<h2>Editing Blower</h2>

<% form_for(@blower) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  
  <p>
    <%= f.submit "Update" %>
    <%= link_to "Cancel", blowers_path %>
  </p>
<% end %>
