<h2>New Blower</h2>

<% form_for(@blower) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
    <%= link_to 'Cancel', blowers_path %>
  </p>
<% end %>


