<h2>Editing Event</h2>

<% form_for(@event) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %>
    <%= link_to "Cancel", events_path %>
  </p>
<% end %>
