<h2>New Event</h2>

<% form_for(@event) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  
  <p>
    <%= f.submit "Create" %>
    <%= link_to "Cancel", events_path %>
  </p>
<% end %>
